<ion-content color="dark" padding>
    <div class="position-icon">
        <div class="icon-sunny">
            <ion-icon ios="ios-flash" md="md-flash"></ion-icon>
        </div>
      </div>
      <div class="text-title">
        Flashlight {{status}}
      </div>
      <div class="position-switch">
        <div class="icon-switch">
           <label class="switch">
             <input type="checkbox" (click)="startTorch()" />
             <span></span>
            </label>
          </div>
      </div>
</ion-content>
